/*  COMPONENT
    SECTION */

// HEADER COMPONENT

.header__nav__burger,
.menu__responsive__toggle {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
}

.header__nav__burger__bar,
.menu__responsive__toggle__bar {
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 5px;
    background-color: $black;
}

.header__nav__burger {
    grid-column: start--nav / end--nav;
    justify-self: flex-end;
    align-self: center;
    position: relative;

    @media #{$media-md} {
        display: none;
    }

    .bar--1 {
        top: 0;
    }

    .bar--2 {
        top: calc(50% - 2px);
    }

    .bar--3 {
        bottom: 0;
    }
}

.menu__responsive__toggle {
    position: absolute;
    top: 3.5%;
    right: 7%;

    &__bar {
        width: 100%;
        height: 4px;
        position: absolute;
        border-radius: 5px;
        background-color: $black;
    }

    .bar--1 {
        top: calc(50% - 2px);
        transform: rotate(45deg);
    }

    .bar--2 {
        bottom: calc(50% - 2px);
        transform: rotate(-45deg);
    }
}