/*  DESIGN
    SECTION */

// IMPORT ADOBE FONT

@import url("https://use.typekit.net/uhd0mdv.css");
$futura: futura-pt, sans-serif;

// MEDIA

$media-md: "screen and (max-width: 992px)";

// COLOR

$black : #121212;
$white: #fefefe;

html {
    font-size: 62.5%;
}

body {
    min-height: 200vh;
    font-family: $futura;
    font-size: 2.5rem;
    color: $black;
}