// IMPORT PARTIALS

@import './reset';
@import './component';
@import './design';

// MAIN

.header {
    padding: 2rem 0;

    &__nav {
        display: grid;
        display: -ms-grid;
        grid-template-columns:

        [start]
        5%
        [start--logo]
        64px
        [spacing]
        5%
        [start--nav]
        1fr
        [end--nav]
        5%
        [end];

        &__logo {
            grid-column: start--logo / spacing;
        }

        &__list {
            display: none;

            @media screen and (min-width: 992px) {
                grid-column: start--nav / end--nav;
                display: flex;
                display: -webkit-flex;
                display: -ms-flexbox;
                justify-content: flex-end;
                align-items: center;
            }

            &__item {
                margin-left: 4rem;
            }
        }
    }
}

.menu__responsive {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, -100vh, 0);
    transition: transform 500ms ease;
    background-color: white;

    @media screen and (min-width: 992px) {
        display: none;
    }

    &__open {
        transform: translate3d(0, 0, 0);
    }

    &__list__menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
            margin: 4rem 0;
        }
    }

    &__list__social {
        margin-top: 15rem;
        display: flex;
        align-items: baseline;

        &__item {
            margin: 0 5rem;

            &__logo {
                max-width: 32px;
            }
        }
    }
}
