/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/uhd0mdv.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  DESIGN
    SECTION */
html {
  font-size: 62.5%;
}

body {
  min-height: 200vh;
  font-family: futura-pt, sans-serif;
  font-size: 2.5rem;
  color: #121212;
}

/*  COMPONENT
    SECTION */
.header__nav__burger,
.menu__responsive__toggle {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.header__nav__burger__bar,
.menu__responsive__toggle__bar {
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 5px;
  background-color: #121212;
}

.header__nav__burger {
  grid-column: start--nav/end--nav;
  justify-self: flex-end;
  align-self: center;
  position: relative;
}
@media screen and (max-width: 992px) {
  .header__nav__burger {
    display: none;
  }
}
.header__nav__burger .bar--1 {
  top: 0;
}
.header__nav__burger .bar--2 {
  top: calc(50% - 2px);
}
.header__nav__burger .bar--3 {
  bottom: 0;
}

.menu__responsive__toggle {
  position: absolute;
  top: 3.5%;
  right: 7%;
}
.menu__responsive__toggle__bar {
  width: 100%;
  height: 4px;
  position: absolute;
  border-radius: 5px;
  background-color: #121212;
}
.menu__responsive__toggle .bar--1 {
  top: calc(50% - 2px);
  transform: rotate(45deg);
}
.menu__responsive__toggle .bar--2 {
  bottom: calc(50% - 2px);
  transform: rotate(-45deg);
}

.header {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__turn__black {
  color: #fefefe;
  background-color: rgba(0, 0, 0, 0.8);
}
.header__nav {
  display: grid;
  display: -ms-grid;
  grid-template-columns: [start] 5% [start--logo] 64px [spacing] 5% [start--nav] 1fr [end--nav] 5% [end];
}
.header__nav__logo {
  grid-column: start--logo/spacing;
}
.header__nav__list {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__nav__list {
    grid-column: start--nav/end--nav;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-end;
    align-items: center;
  }
}
.header__nav__list__item {
  margin-left: 6rem;
  position: relative;
}
.header__nav__list__item::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -20%;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 500ms ease;
  background-color: #121212;
}
.header__nav__list__item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.menu__responsive {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(100vw, 0, 0);
  transition: transform 500ms ease;
  background-color: #fefefe;
}
@media screen and (max-width: 992px) {
  .menu__responsive {
    display: none;
  }
}
.menu__responsive__open {
  transform: translate3d(0, 0, 0);
}
.menu__responsive__list__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__responsive__list__menu__item {
  margin: 4rem 0;
}
.menu__responsive__list__social {
  margin-top: 15rem;
  display: flex;
  align-items: baseline;
}
.menu__responsive__list__social__item {
  margin: 0 5rem;
}
.menu__responsive__list__social__item__logo {
  max-width: 32px;
}

/*# sourceMappingURL=style.css.map */
